<div class="card mb-3" style="max-width: 40rem;">
  <h3 class="card-header">
    Edit Profile
  </h3>

  <div class="card-body">
    <form action="/modify_user" method="post">
      <div class="form-group">
        <label for="email_box">Email</label>
        <input class="form-control" id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div class="form-group">
        <label for="name_box">Name</label>
        <input class="form-control" id="name_box" name="query_name" value="<%= @current_user.name %>">
      </div>
      <div class="form-group">
        <label for="username_box">Username</label>
        <input class="form-control" id="username_box" name="query_username" value="<%= @current_user.username %>">
      </div>
      
        <input type="hidden" id="shopping_lists_count_box" name="query_shopping_lists_count" value="<%= @current_user.shopping_lists_count %>">
      

      <div class="form-group">
        <label for="password_box">Password</label>
        <input id="password_box" class="form-control" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div  class="form-group">
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" class="form-control" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button class="btn btn-success">
        Update account
      </button>
    </form>
  </div>
</div>
