<div class="card mb-3" style="max-width: 40rem;">
<h3 class="card-header">Sign up</h3>

<div class="card-body">
<form action="/insert_user" method="post">

  <div class="form-group">
    <label for="email_box">Email</label>
    <input class="form-control" id="email_box" name="query_email" placeholder="Your email" type="text">
  </div>
                 
  <div class="form-group">
    <label for="name_box">Name</label>
      
    <input class="form-control" type="text" id="name_box" name="query_name" placeholder="Your name">
  </div>
         
  <div class="form-group">
    <label for="username_box">Username</label>
      
    <input class="form-control" type="text" id="username_box" name="query_username" placeholder="Choose a username...">
  </div>
         
  <div class="form-group">
    <label for="password_box">Password</label>
    <input class="form-control" id="password_box" name="query_password" placeholder="Choose a password..." type="password">
  </div>

  <div class="form-group">
    <label for="password_confirmation_box">Password Confirmation</label>
    <input class="form-control" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
  </div>

  <button class="btn btn-success">
    Sign up
  </button>
</form>
</div>
</div>

<p>
  Already have an account? <a href="/user_sign_in">Sign in</a> instead.
</p>
